.quiz-card {
  background: rgb(231, 231, 233);
  padding: 10px 2%;
  color: black;
  border-radius: 5px;
}

.questionNumBtn {
  width: 30px;
  height: 30px;
  font-size: 60%;
  border: none;
  /* border-color: rgb(211, 205, 205); */
  background: rgb(211, 205, 205);
  color: black;
  border-radius: 100%;
  text-align: center;
}
.selected {
  background: grey !important;
  color: white;
}
.answered {
  background: #b6faee;
  color: black;
}
#report-description,
#report-description:focus {
  border: 1px solid grey !important;
  border-radius: 10px !important;
  color: black !important;
  background: white;
}
#report-description::placeholder {
  color: black !important;
  opacity: 0.5 !important;
}
