#sidebar-list {
  list-style: none;
}
#sidebar-list li {
  margin: 20px 0;
}
#sidebar-list a {
  color: black;
  font-size: 140%;
  text-decoration: none;
}
#sidebar-list :hover {
  color: #89faba;
}
.checkbox-label {
  margin-bottom: 7px;
}
input[type="text"],
textarea,
input[type="number"] {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7) !important;
  background: inherit !important;
  color: rgba(255, 255, 255, 1) !important;
}
input[type="file"] {
  display: block;
}
input[type="text"]::placeholder,
textarea::placeholder,
input[type="number"]::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
input[type="text"]:focus,
textarea:focus,
input[type="number"] {
  box-shadow: none !important;
  border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
  background: inherit !important;
  color: rgba(255, 255, 255, 1) !important;
}
.questionNumButton {
  width: 30px;
  height: 30px;
  font-size: 60%;
  border-color: grey;
  background: grey;
  color: white;
  text-align: center;
}
.questionNumButton:focus {
  outline: none;
}
.questionNumButtonCompleted {
  background: #2bf04c;
  border-color: #2bf04c;
  color: black;
}
.questionNumButtonIncomplete {
  background: red;
  border-color: red;
  color: black;
}
.save-qp-button {
  font-size: 120% !important;
  background: #ff5d30 !important;
  border-color: #ff5d30 !important;
}
#modalFormInput {
  border: 1px solid black !important;
  color: black !important;
}
.form-field {
  display: inline;
}
a.card:hover {
  text-decoration: none;
}
#review-preview {
  cursor: pointer;
}
#review-preview:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 998px) {
  #sidebar-list a {
    font-size: 110%;
  }
  form[enctype="multipart/form-data"] * {
    font-size: 95%;
  }
  form[enctype="multipart/form-data"] input[type="radio"] {
    width: 10px;
    height: 10px;
  }
  .questionNumButton {
    font-size: 50%;
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 467px) {
  #sidebar-list a {
    font-size: 90%;
  }
  form[enctype="multipart/form-data"] {
    padding: 20px;
  }
  form[enctype="multipart/form-data"] * {
    font-size: 90%;
  }
  form[enctype="multipart/form-data"] input[type="radio"] {
    width: 8px;
    height: 8px;
  }
  .questionNumButton {
    font-size: 45%;
    width: 20px;
    height: 20px;
  }
}
